<%- include('./partials/header') %>

<img id="account-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble"></h1>
<h1 id="account-title">ThoughtFUL</h1> 
<!-- <img id="account-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble"> -->
<div class="account-details" >
    <h4 id="username" >Username  <input type="text" name="Username">
    <br><h4 id="password" >Password <input type="text" name="Password" id="">
    <br><h4 id="email" >Email <input type="text" name="Email" id="">
</div>

<button id="signup-btn" ><a href="/">Sign Up!</a></button>
            
<%- include('./partials/footer') %>