<%- include('./partials/header') %>

  <div class="login-content">
    <h1 id="login-title">ThoughtFUL...</h1>
    <input id="login-input1" type="text">
    <br><input id="login-input2" type="text">
    <br><br><button id="login-btn"><a href="/users">Login</a></button>
  </div>

  <%- include('./partials/footer') %>