<%- include('./partials/header') %>

  <div class="login-content">
    <h1 id="login-title">ThoughtFUL</h1>
    <input id="login-input1" type="text">
    <br><input id="login-input2" type="text">
    <br><br><a id="login-btn" href="/users/">Login</a>
  </div>

  <%- include('./partials/footer') %>