body {
  padding: 50px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

.container {
  overflow: auto;
  position: relative;
}

.container ::before {
  /* filter: opacity(0.8); */
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  content: '';
  display: block;
  background-image: url('../images/letters.jpg');
  /* background-size: cover; */
  width: 100%;
  height: 110%;
  filter: blur(2.5px);
  filter: opacity(0.58);
  top: -20px;


}

a {
  color: #7ac6e2;
}

#logout-btn {
  display: flex;
  justify-content: flex-end;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 20px;
  margin-top: 0px;
  height: 0px;
  color: black;
}

h2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-top: auto;
  color: white;
  /* margin-bottom: 100px; */
}

#logout-tag {
  color: black
}


/* Login */
.login-content {
  /* position: absolute; */
  text-align: center;
  left: 50%;
  margin-top: 200px;
}

#login-title {
  font-family: "Mountains Of Christmas", seriff;
  font-size: 500%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  color: white;
  
}

#login-input1 {
  background-color: rgba(178, 197, 197, 0.698);
  width: 250px;
  height: 20px;
  margin-bottom: 4px;
  border-radius: 5px;
}

#login-input2 {
  background-color: rgba(178, 197, 197, 0.698);
  width: 250px;
  height: 20px;
  border-radius: 5px;
}

#login-btn {
  height: 40px;
  width: 70px;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

#account-link {
  
}

#login-bubble {
  position: absolute;
  left: 64%;
  margin-top: 0px;
  height: 100px;
}

/* Account Sign UP*/
#account-title {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

#account-bubble {
  position: absolute;
  left: 60%;
  margin-top: 0px;
  height: 100px;
}

.account-deatils {
  position: absolute;
}

#username {
  background-color: rgba(178, 197, 197, 0.698);
  position: absolute;
  left: 35%;
}

#password {
  background-color: rgba(178, 197, 197, 0.698);
  position: absolute;
  left: 35%;
  margin-top: 60px;
}

#email {
  background-color: rgba(178, 197, 197, 0.698);
  position: absolute;
  left: 37.5%;
  margin-top: 100px;
}

#signup-btn {
  position: relative;
  height: 40px;
  width: 70px;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}


/* Home Index */
#title1 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

.index-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  
}

#home-bubble {
  position: absolute;
  left: 60%;
  margin-top: 0px;
  height: 100px;
}

#index-post {
  position: absolute;
  color: white;
  left: 25%;
  right: 20%;
  margin-top: 20px;
  /* font-size: 24px; */
}

#index-submit {
  left: 340px;
  height: 32px;
  width: 105px;
  color: #7ac6e2;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

#delete-comment {
  left: 340px;
  height: 32px;
  width: 117px;
  color: #7ac6e2;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

#delete-post {
  display: inline-block;
  margin-top: 0px;
  left: 340px;
  height: 32px;
  width: 85px;
  color: #7ac6e2;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

#update-btn {
  display: inline-block;
  left: 340px;
  height: 32px;
  width: 60px;
  color: #7ac6e2;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

#comment-input {
  position: absolute;
  left: 40%;
  
  /* width: 40px; */
}

#comment-input2 {
  width: 200px;
}

#post-title {
  font-size: 30px;
  /* background-color: aqua; */
}

#post-content {
  padding-top: 0px;
  font-size: 20px;
  /* background-color: rgba(0, 255, 255, 0.495); */
  /* margin-top: 0px; */
}

#index-submit {
  background-color: black;
}

#post-link {

}

/* New Entry */
#title2 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

.new-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.new-entries {
  position: absolute;
  color: white;
  left: 33%;
  margin-top: 40px;
}

#new-title {
  background-color: rgba(178, 197, 197, 0.698);
  margin-bottom: 10px;
  width: 200%;
  height: 30px;
}

#new-entry {
  background-color: rgba(178, 197, 197, 0.698);
  margin-bottom: 8px;
  width: 200%;
  height: 300px;
}

#new-link {
  background-color: rgba(178, 197, 197, 0.698);
  width: 200%;
  height: 25px;
}

#submit-btn {
  /* position: absolute; */
  left: 340px;
  height: 40px;
  width: 70px;
  color: aqua;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

#new-bubble {
  position: absolute;
  left: 60%;
  margin-top: 0px;
  height: 100px;
}

/* Media */
#title3 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

.media-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  
}

#media-bubble {
  position: absolute;
  left: 60%;
  margin-top: 0px;
  height: 100px;
}

#media-post {
  position: absolute;
  left: 25%;
  color: white;
}



/* Help */
#title4 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

.help-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

#help-bubble {
  position: absolute;
  left: 60%;
  margin-top: 0px;
  height: 100px;
}


