body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a {
  color: #4ac3ef;
}

#logout-btn {
  display: flex;
  justify-content: flex-end;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 20px;
  margin-top: 0px;
  height: 0px;
}

h2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-top: auto;
  /* margin-bottom: 100px; */
}

#logout-tag {
  color: rgba(0, 0, 0, 0.553)
}


/* Login */
.login-content {
  /* position: absolute; */
  text-align: center;
  left: 50%;
  margin-top: 200px;
}

#login-title {
  font-family: "Mountains Of Christmas", seriff;
  font-size: 500%;
  position: relative;
  margin-bottom: 10;
  
}

#login-input1 {
  background-color: rgba(178, 197, 197, 0.698);
  width: 250px;
  height: 20px;
  margin-bottom: 4px;
  border-radius: 5px;
}

#login-input2 {
  background-color: rgba(178, 197, 197, 0.698);
  width: 250px;
  height: 20px;
  border-radius: 5px;
}

#login-btn {
  height: 40px;
  width: 70px;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

#account-link {
  
}

#login-bubble {
  position: absolute;
  left: 65%;
  margin-top: 0px;
  height: 100px;
}

/* Account Sign UP*/
#account-title {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

#account-bubble {
  /* position: absolute; */
  /* left: 65%; */
  /* margin-top: 0%; */
  height: 100px;
}

.account-deatils {
  position: absolute;
}

#username {
  background-color: rgba(178, 197, 197, 0.698);
  position: absolute;
  left: 35%;
}

#password {
  background-color: rgba(178, 197, 197, 0.698);
  position: absolute;
  left: 35%;
  margin-top: 60px;
}

#email {
  background-color: rgba(178, 197, 197, 0.698);
  position: absolute;
  left: 37.5%;
  margin-top: 100px;
}

#signup-btn {
  position: relative;
  height: 40px;
  width: 70px;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}


/* Home Index */
#title1 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

.index-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  
}

#home-bubble {
  position: absolute;
  left: 65%;
  margin-top: 0px;
  height: 100px;
}

#post-table {
  display: flex;
  justify-content: center;
}

#post-title {
  display: flex;
  justify-content: center;
  left: 50%;
}

#post-content {
  position: absolute;
  left: 50%;
}

#post-links {
  position: absolute;
  left: 50%;
}

#post-comments {
  position: absolute;
  left: 50%;
}

#update-btn {
  position: absolute;
  left: 50%;
}
#delete-btn {
  position: absolute;
  left: 50%;
}

/* New Entry */
#title2 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

.new-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.new-entries {
  position: absolute;
  left: 33%;
  margin-top: 40px;
}

#new-title {
  background-color: rgba(178, 197, 197, 0.698);
  margin-bottom: 10px;
  width: 200%;
  height: 30px;
}

#new-entry {
  background-color: rgba(178, 197, 197, 0.698);
  margin-bottom: 8px;
  width: 200%;
  height: 300px;
}

#new-link {
  background-color: rgba(178, 197, 197, 0.698);
  width: 200%;
  height: 25px;
}

#submit-btn {
  /* position: absolute; */
  left: 340px;
  height: 40px;
  width: 70px;
  color: aqua;
  background-color: black;
  margin-bottom: 10px;
  border-radius: 5px;
}

#new-bubble {
  position: absolute;
  left: 65%;
  margin-top: 0px;
  height: 100px;
}

/* Media */
#title3 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

.media-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  
}

#media-bubble {
  position: absolute;
  left: 65%;
  margin-top: 0px;
  height: 100px;
}



/* Favorites */
#title4 {
  font-family: "Mountains Of Christmas", serif;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
}

.favorites-nav {
  font-family: "Barrio", system-ui;
  font-size: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

#favorites-bubble {
  position: absolute;
  left: 65%;
  margin-top: 0px;
  height: 100px;
}


