<%- include('../partials/header') %>

<form action="posts/<%=post._id%>" method="POST">
    <input type="text">
    <input type="text" name="" id="">
    <button type="submit">Update</button>
</form>

<%- include('../partials/footer') %>