<%- include('../partials/header') %>

<h1 id="title2">ThoughtFUL</h1>

<h2>Friends</h2>
<nav class="friends-nav">
    <a href="/users">Home</a>
    <a href="/media">Media</a>
    <a href="/replies">Replies</a>
    <a href="/">Logout</a>
</nav>

<%- include('../partials/footer') %>