<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<img id="home-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble">
<h1 id="title1">ThoughtFUL...</h1> 

<h2>HOME</h2>

<nav class="index-nav">
    <a href="/new">New Entry</a>
    <a href="/favorites">Favorites</a>
    <a href="/media">Media</a>
    <!-- <a href="/">Logout</a> -->
</nav>



<%- include('../partials/footer') %>