<%- include('../partials/header') %>

<header id="user-header">
    <nav id="logout-btn">
        <a href="/">Logout</a>
    </nav>
    <h1 id="title1">ThoughtFUL...</h1>
</header>

<h2>HOME</h2>

<input id="user-text" type="text">

<nav class="index-nav">
    <a href="/friends">Friends</a>
    <a href="/media">Media</a>
    <a href="/replies">Replies</a>
    <!-- <a href="/">Logout</a> -->
</nav>



<%- include('../partials/footer') %>