<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<img id="media-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble">
<h1 id="title3">ThoughtFUL...</h1>

<h2>MEDIA</h2>

<nav class="media-nav">
    <a href="/home">Home</a>
    <a href="/new">New Entry</a>
    <a href="/favorites">Favorites</a>
    <!-- <a href="/">Logout</a> -->
</nav>

<%- include('../partials/footer') %>