<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<h1 id="title3">ThoughtFUL...</h1>

<h2>MEDIA</h2>

<nav class="media-nav">
    <a href="/users">Home</a>
    <a href="/friends">Friends</a>
    <a href="/replies">Replies</a>
    <!-- <a href="/">Logout</a> -->
</nav>

<%- include('../partials/footer') %>