<%- include('../partials/header') %>

<h1 id="title3">ThoughtFUL</h1>

<h2>Media</h2>
<nav class="media-nav">
    <a href="/users">Home</a>
    <a href="/friends">Friends</a>
    <a href="/replies">Replies</a>
    <a href="/">Logout</a>
</nav>

<%- include('../partials/footer') %>