<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<img id="new-bubble" src="/images/ConversationBubble.png" alt="Conversation Bubble">
<h1 id="title2">ThoughtFUL</h1>



<h2>NEW ENTRY</h2>

<form class="new-entries" action="/new" method="POST">
    <h4 id="newTitle-header" >Title</h4><input id="new-title" type="text" name="title">
    <!-- <select name="mood">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
      </select> -->
    <br><h4 id="newContent-header" >Content</h4><input id="new-entry" type="text" name="content" autofocus>
    <h4 id="newLink-header" >Link</h4><input id="new-link" type="text" name="links">
    <button id="submit-btn" >Submit</button>
</form>

<nav class="new-nav">
    <a href="/home">Home</a>
    <a href="/media">MEDIA</a>
    <a href="/help">Help</a>
    <!-- <a href="/">Logout</a> -->
</nav>

<%- include('../partials/footer') %>