<%- include('../partials/header') %>

<header>
    <nav id="logout-btn">
        <a id="logout-tag" href="/">Logout</a>
    </nav>
</header>

<h1 id="title4">ThoughtFUL...</h1>

<h2>REPLIES</h2>

<nav class="replies-nav">
    <a href="/users">Home</a>
    <a href="/friends">Friends</a>
    <a href="/media">Media</a>
    <!-- <a href="/">Logout</a> -->
</nav>

<%- include('../partials/footer') %>